@import "./color.css";
@import "./reset.css";

html,
body {
  font-family: Pretandard;
}
main {
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  gap: 24px;
}
main > img {
  width: 100%;
  min-width: 198px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  main {
    padding: 48px 52px;
    width: calc(100% - 104px);
    margin: 0 auto;
    height: calc(100vh - 96px);
  }
}
@media (max-width: 744px) {
  main {
    padding: 24px 15px;
    width: calc(100% - 30px);
    margin: 0 auto;
    height: calc(100vh - 48px);
  }
}
.login-box {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  min-width: 344px;
  gap: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.login-box > button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 12px 0;
  border-radius: 40px;
  background-color: var(--login-btn-bg);
  color: var(--login-text);
  border: 0;
  cursor: pointer;
}

.login-box > button:hover {
  background-color: var(--input-focus);
}
.login-box > button:disabled {
  cursor: not-allowed;
  background-color: var(--login-btn-bg);
}
.input-box {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  gap: 8px;
  position: relative;
}
.input-box > input {
  max-height: calc(56px - 30px);
  height: 56px;
  padding: 15px 24px;
  border: 0;
  border-radius: 12px;
  background-color: var(--input-bg);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* margin-top: 8px; */
}
.input-box > input:focus {
  border: 1px solid var(--input-focus);
}
.input-box > img {
  top: 48px;
  right: 16px;
  position: absolute;
}
.input-box > p {
  color: #f74747;
  padding: 0px 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  text-align: left;
}

.social-login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--sicial-login-bg);
}
.icon-box {
  word-spacing: 16px;
}
.icon-box > img {
  cursor: pointer;
}

.sign-up-box {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.sign-up-box > a {
  color: var(--login-link);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  cursor: pointer;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal-popup {
  justify-content: center;
  align-content: center;
  position: absolute;
  max-width: 540px;
  min-width: 327px;
  max-height: 250px;
  min-height: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  background-color: white;
  border-radius: 8px;
}
.modal-message {
  text-align: center;
}
.modal-btn {
  position: absolute;
  bottom: 28px;
  right: 28px;
  background-color: var(--input-focus);
  color: white;
  padding: 12px 23px;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
