@import "./color.css";
@import "./reset.css";

html,
body {
  font-family: Pretandard;
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  gap: 24px;
}
section > img {
  cursor: pointer;
}

.loginBox {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  gap: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.loginBox > input {
  max-height: calc(56px - 30px);
  padding: 15px 24px;
  border: 0;
  border-radius: 12px;
  background-color: var(--input-bg);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.loginBox > input:focus {
  border: 1px solid var(--input-focus);
}
.loginBox > button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 12px 0;
  border-radius: 40px;
  background-color: var(--login-btn-bg);
  color: var(--login-text);
  border: 0;
  cursor: pointer;
}
.loginBox > button:hover {
  background-color: var(--input-focus);
}
.passwordBox {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  gap: 16px;
  position: relative;
}
.passwordBox > input {
  max-height: calc(56px - 30px);
  height: 56px;
  padding: 15px 24px;
  border: 0;
  border-radius: 12px;
  background-color: var(--input-bg);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.passwordBox > input:focus {
  border: 1px solid var(--input-focus);
}
.passwordBox img {
  top: 16px;
  right: 16px;
  position: absolute;
}

.socialLoginBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--sicial-login-bg);
}
.iconBox {
  word-spacing: 16px;
}
.iconBox > img {
  cursor: pointer;
}

.signUpBox {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.signUpBox > a {
  font-family: Pretendard;
  color: var(--login-link);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  cursor: pointer;
}
